<meta charset="utf-8" />
    <meta name="author" content= "Holly Haughian">
    <title>Lists</title>  

    <link href="css/lists.css" type="text/css" rel="stylesheet"> 

    <body>

<div class="history">
  <div class="text">
  <h1>Lists Document</h1>
<h3>In this HTML page I will display lists I have created, this includes unordered lists, ordered lists and nested lists.</h3>


<p>Here is a set of nested lists that I included in my History of Type 4 Document</p>
<ul>
        <li><strong>Nicolas Jenson</strong>
            <ul>
            <li>Typeface
                <ol>
                 <li>Adobe Jenson</li> 
                 <li>Jenson Classico</li>  
                 <li>LTC Jenson</li>
                </ol>
            </li>    
    

    
            <li>Foundry
                    <ol>
                     <li>Adobe</li> 
                     <li>Omnibus Typografi</li>  
                     <li>Lanson Type</li>
                    </ol>
            </li>    
            </ul> 
        </li>
            
    
        <li><strong>Garamont</strong> 
                    <ul>
                    <li>Typeface
                        <ol>
                        <li>Berthold Garamond</li>
                        <li>Simoncini Garamond</li>
                        <li>Adobe Garamond</li>
                        </ol>
                    <li>Foundry
                        <ol>
                        <li>Berthold</li>
                        <li>Linotype</li>
                        <li>Adobe</li>
                        </ol>
                    </li>
                 </ul>
            </li>
                 
        
           
          <li><strong>William Caslon</strong>
                      <ul>
                        <li>Typeface
                            <ol>
                            <li>Caslon 540</li>
                            <li>ITC Founders Caslon</li>
                            <li>Adobe Caslon</li>
                          </ol>
                        </li>
                       
                        <li>Foundry
                             <ol>
                               <li>Bitstream</li>
                               <li>ITC Library</li>
                               <li>Adobe</li>
                             </ol> 
                        </li>      
                       </ul> 
          </li>
                        
                       
                        <li><strong>John Baskerville</strong>
                          <ul>
                           <li>Typeface
                             <ol>
                               <li>Baskerville</li>
                               <li>Baskerville Old Face</li>
                               <li>Baskerville No.2</li>
                             </ol>
                             </li>
                        
                           <li>Foundry
                             <ol>
                               <li>Monotype</li>
                               <li>Scangraphic</li>
                               <li>Bitstream</li>
                             </ol>
                           </li>
                             </ul>
                        </li>      
                       
                       
                       
                        <li><strong>Giambattista Bodoni</strong>
                          <ul>
                           <li>Typeface
                             <ol>
                               <li>Bodoni</li>
                               <li>Bauer Bodoni</li>
                               <li>Bodoni Classic</li>
                             </ol>
                         
                           <li>Foundry
                             <ol>
                               <li>Adobe</li>
                               <li>Linotype</li>
                               <li>Wiescher Design</li>
                             </ol>
                             </li>
                             </ul>
                        </li>
   

    </ul>
    </div>
    </div>


    <div class="baskerville">
      <div class="text">
        <p>Here are unordered lists that I included in my Baskerville 4 Document</p>
                      <ul>

                            <li><span class="list-head">Type</span></li>
                                <ul class="list-indent">
                                        <li>Deberny & Peignot</li>
                                        <li>Fry Foundry</li>
                                        <li>American Type Founders</li>
                                        <li>Linotype</li>
                                        <li>Lanston Monotype</li>
                                </ul>
                
                            <li><span class="list-head">Cold Type</span>
                            <ul class="list-indent">
                                    <li>Autologic</li>
                                    <li>Berthold</li>
                                    <li>Compugraphic</li>
                                    <li>Hell AG</li>
                                    <li>Monotype</li>
                            </ul>
                            </li>
                
                            <li><span class="list-head">Digital Type</span>
                            <ul class="list-indent">
                                    <li>Linotype</li>
                                    <li>URW++</li>
                                    <li>Monotype</li>
                                    <li>Bitstream</li>
                            </ul>
                            </li>

                    </ul>
                  
                  </div>
                  </div>
                </body>