<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="author" content= "Holly Haughian">
    <title> Navigation</title>  

    
   <link href="css/navigation.css" type="text/css" rel="stylesheet"> 

</head>

<body>
  
        <article id="top">
                    <nav>
                        <ul>
                            <li><a href="#link-one" id="nav">Link One</a></li>
                            <li><a href="#link-two"id="nav">Link Two</a></li>
                            <li><a href="#link-three"id="nav">Link Three</a></li>
                        </ul>
                    </nav>  
        <div class="link-one" id="link-one">
        <h1 class="text1">Navigation within HTML, this is link one.</h1>
        </div>

        <div class="link-two" id="link-two">
        <h2 class="text">This is my HTML Document where I have included an example of Navigation. This is link two.</h2>
        </div>

        <div class="link-three" id="link-three">
        <h2 class="text">I can reference to this in future for navigation help. This is link three.</h2>
        </div>