<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="author" content= "Holly Haughian">
    <title> Navigation</title>  

    
   <link href="css/navigation.css" type="text/css" rel="stylesheet"> 

</head>

<body>
  
        <article id="top">
                    <nav>
                        <ul>
                            <li><a href="#link-one" id="nav">Link One</a></li>
                            <li><a href="#link-two"id="nav">Link Two</a></li>
                            <li><a href="#link-three"id="nav">Link Three</a></li>
                        </ul>
                    </nav>  
        
        <h1 id="link-one">Navigation within HTML</h1>

        <h2 id="link-two">This is my HTML Document where I have included an example of Navigation.</h2>

        <h2 id="link-three">I can reference to this in future for navigation help.</h2>
            