

.history{
    background: #fafafa;
    color: black;
    padding: 2em 0;
    width: 100vw;
    height: 960px;
    margin-top: -1em;
    margin-left: -0.5em;
    margin-bottom: 2em;
    
}
.text{
    margin-left: 3em;
}


.baskerville{
    background:#7268A6;
    color: #fafafa;
    padding: 3em 0;
    width: 100vw;
    height: 25em;
    margin-top: -1em;
    margin-left: -0.5em;
    
}
.text{
    margin-left: 3em;
    margin-bottom: 2em;
}