/*-----STYLE LINKS-----*/

#nav{
    color: #fcfcfc;
    text-decoration: none;
}
a{
    color: #7560a5;
    text-decoration: none;
}

/*-----NAV------*/
nav{
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background-color: rgb(98, 93, 136);
    padding: 1em 0;
    font-size: 0.80em;
}

nav ul{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav ul li{
    display: inline;
    margin: 20px;
}

nav a:link{
    color: #fafafa;
}

nav a:hover{
    border-bottom: none;
    color: #c5f370;
}

/*---LINK STYLING----*/

.link-one{
    background:#f8d1d1;
    color: #fafafa;
    padding: 3em 0;
    width: 100vw;
    height: 40em;
    margin-top: 1em;
    margin-left: -0.5em;
    margin-right: -0.5em;
}

.link-two{
    background:#fafafa;
    color: #fafafa;
    padding: 3em 0;
    width: 100vw;
    height: 40em;
    margin-top: 1em;
    margin-left: -0.5em;
    margin-right: -0.5em;
}

.link-three{
    background:#e2d1f8;
    color: #fafafa;
    padding: 3em 0;
    width: 100vw;
    height: 40em;
    margin-top: 1em;
    margin-left: -0.5em;
    margin-right: -0.5em;
}

.text1{
    color: rgb(121, 97, 97);
    margin-left: 3em;
    margin-top: 3em;
}

.text{
    color: black;
    margin-left: 3em;
    margin-top: 3em;
}